<div class="container-fluid">
    <h1>Réservations</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Étudiant</th>
          <th>Menu</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations">
          <td>{{ reservation.etudiant.lastname }} {{ reservation.etudiant.firstname }}</td>
          <td>{{ reservation.menu.type }} - {{ reservation.menu.platEntrer }} / {{ reservation.menu.platPrincipal }} / {{ reservation.menu.dessert }}</td>
          <td>{{ reservation.menu.date | date:'yyyy-MM-dd' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  