<div class="container-fluid">
    <h1>List Etudiants</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>nom</th>
          <th>prénom</th>
          <th>email</th>
          <th>tél</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let etudiant of etudiants">
          <td>{{ etudiant.name }}</td>
          <td>{{ etudiant.lastname }}</td>
          <td>{{ etudiant.email }}</td>
          <td>{{ etudiant.tel }}</td>
         
          <td>
            <button class="btn btn-sm btn-primary" title="Réserver">
              <i class="fas fa-calendar-check"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  